<footer>
  <div class="social-icons">
    <a
      href="https://www.instagram.com/soy_carlsjr?utm_source=qr&igsh=a2ptbnQ3Nm1lZHRp"
      aria-label="Instagram"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="#" aria-label="Pinterest"><i class="fab fa-pinterest"></i></a>
    <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
  </div>
  <p>psicEricka 2024 | todos los derechos reservados©</p>
  <p>contacto: <a href="mailto:hola@psicEricka.com">hola@psicEricka.com</a></p>
  <p>desarrollado por <a href="https:">yo</a></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
