<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('head') %> <!-- Otros estilos/meta tags, titulo -->
</head>
<body>
  <%- include('navigation') %> <!-- Menú de navegación común -->

  <!-- Aquí se inserta el contenido dinámico -->
  <main>
    <%- body %> <!-- Placeholder para el contenido de cada página -->
  </main>

  <%- include('footer') %> <!-- Pie de página común -->
  
</body>
</html>